<html>
		<head>
			{% if title %}
			<title>{{ title }}- Home Page</title>
			{% else %}
			<title>Home Page</title>
			{% endif %}
		</head>
		<body>
		<div>Microblog:<a href="{{ url_for('index') }}">Home</a></div>
		{% if g.user.is_authenticated() %}
			| <a href="{{ url_for('user', nickname = g.user.nickname) }}">你的个人资料</a>
			| <a href="{{ url_for('logout') }}">Logout</a>
		{% endif %}
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
			{% for message in messages %}
				<l1>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		{% block content %}
		{% endblock %}
		</body>
</html>